@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Sanchez&subset=latin-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ### */

html, body { min-height: 100%; }

body { font-family: "Roboto", sans-serif; font-size: 14px; }
h1, h2, h3, h4, h5, h6 { font-family: "Sanchez", serif; padding-bottom: 20px; color: #333; }
h1 { font-size: 32px; font-weight: bold; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

input { box-sizing: border-box; }

.centerGroup { width: 300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px;
    border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); background: #fff; }
.centerGroup h1 { text-align: center; color: #333; }

.row { margin-bottom: 10px; overflow: hidden; }
#kalendar .row { margin-bottom: 0; }
.row input, .row select { width: 70%; float: left; }
.row textarea { width: 100%; min-height: 100px; }
.row input[type="submit"] { margin: 0 auto; display: block; float: none; }
.row label { display: block; line-height: 32px; width: 30%; float: left; }

.centerGroup .row input { width: 100%; float: none; }
.centerGroup .row label { padding-bottom: 5px; width: 100%; line-height: 14px; float: none; }

a { text-decoration: none; color: #4157F9; }
a:visited { color: #4157F9; }
a:hover, a:visited:hover { color: #6E7FF9; }

p { padding-bottom: 10px; }
p:last-child { padding-bottom: 0; }

.msg { color: #f9921e; }
.msg li { padding-bottom: 5px; }
.msg.row.pad{ padding-left: 210px; padding-top: 50px; display: inline-block; width: auto; }

input[type="text"], input[type="password"], input[type="submit"], textarea {
    margin: 0; padding: 5px 10px; border: 1px solid #666;
    color: #333; background: #fff; border-radius: 3px; box-sizing: border-box; }
input[type="submit"] { padding: 5px 20px; }
textarea { padding: 5px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:active, textarea:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset; }

body { background: url("#{resource['images/bg2.jpg']}"); background-size: cover; background-attachment: fixed; }
body.outside { background: url("#{resource['images/bg.jpg']}"); background-size: cover; background-attachment: fixed; }

#overlay_blur { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%;
    background: rgba(0, 0, 0, 0.7); opacity: 0; transition: opacity 0.5s ease; z-index: 5; }
    #overlay_blur_close { position: fixed; right: 15px; top: 10px; font-size: 30px; color: #fff;
        font-family: Arial, Helvetica, sans-serif; font-weight: bold; cursor: pointer; }

#sidebar { float: left; width: 200px; height: 100%; background: #dee4ff; position: fixed; }
    #sidebar > a, #sidebar > form a { display: block; padding: 10px; }
    #sidebar a.level_2 { padding: 5px 10px; padding-left: 20px; }
    #sidebar hr { margin: 20px 0; border: 1px solid #fff; }

#user { text-align: center; padding: 20px 0; }
    #userImage { width: 150px; height: 150px; display: block; margin: 0 auto 20px; border: 2px solid #666; border-radius: 75px; }
        #userImage img { width: 100%; height: auto; }
    #user a { font-size: 18px; }

#topbar { width: 100%; height: 45px; line-height: 45px; margin-left: 200px; padding-left: 50px;
        border-left: 2px solid #fff; background: #dee4ff; position: fixed; }
    #pretraga { float: left; }
        #pretraga input { border: none; }
        #pretraga input[type="text"] { width: 400px; border-top-right-radius: 0; border-bottom-right-radius: 0; }
        #pretraga input[type="submit"] { border-top-left-radius: 0; border-bottom-left-radius: 0;
            color: #fff; font-weight: bold; background: #374fbc; cursor: pointer; }
        #pretraga input[type="submit"]:focus { box-shadow: 0 0 5px rgba(255, 255, 255, 0.7) inset; }
    #topbar > a { float: right; margin-right: 300px; }
    #topbar > a span { padding: 0 5px; color: #f00; text-shadow: 0 0 3px rgba(255, 255, 255, 0.7); font-weight: bold; }

#content { width: 100%; padding-left: 200px; padding-top: 45px; position: absolute;
    box-sizing: border-box; overflow: hidden; top: 0; left: 0; z-index: -1; }

#headmenu { height: 30px; background: #fff; border-bottom: 2px solid #666; }
    #headmenu a { display: block; line-height: 30px; height: 30px; float: left; border-right: 1px solid #666;
        width: 20%; box-sizing: border-box; text-align: center; }
    #headmenu a:last-child { border-right: 0; }

.col { width: 100%; padding: 20px 10px; float: left; box-sizing: border-box; }
.col_2_3 { width: 66.66%; }
.col_1_3 { width: 33.33%; }
.col_1_2 { width: 50%; }

.box { border: 2px solid #666; border-radius: 5px; background: #fff; }

.obavijest { }
.obavijest.saslikom { position: relative; margin-left: 45px; margin-top: 55px; }
    .obavijest .slika { width: 100px; height: 100px; border-radius: 50px; border: 2px solid #666; overflow: hidden;
        position: absolute; left: -50px; top: -50px; background: #fff; }
        .obavijest .slika img { width: 100%; height: auto; }
    .obavijest .naziv { height: 50px; border-bottom: 2px solid #666; padding-left: 60px;
        line-height: 50px; font-weight: bold; color: #333; }
    .obavijest .content { padding: 10px; line-height: 1.2; border-bottom: 2px solid #666; }
    .obavijest .info { padding: 5px 10px; }
        .obavijest .info .autor { float: right; font-weight: bold; }

.dogadaj { padding: 10px; margin-bottom: 20px; }
    .dogadaj h2 { padding-bottom: 10px; }
    .dogadaj .loc { line-height: 20px; overflow: hidden; margin-bottom: 10px; }
        .dogadaj .loc .ceh { float: left; }
        .dogadaj .loc .igra { float: right; }

.cehbox { width: 30%; margin: 0 1.665% 1.665%; float: left; height: 0; padding-bottom: 30%; position: relative;
        box-sizing: border-box; border-radius: 10px; overflow: hidden; }
.cehbox.koordbox { width: 20%; margin: 0 2.5% 2.5%; padding-bottom: 20%; }
    .cehbox img { width: 100%; height: auto; }
    .cehbox .info { position: absolute; bottom: 0; width: 100%; background: rgba(0, 0, 0, 0.7); padding: 10px;
        overflow: hidden; box-sizing: border-box; }
        .cehbox .info h2, .cehbox .info p { color: #fff; }
        .cehbox .info h2 { padding-bottom: 0; }
        .cehbox .info p { padding-bottom: 5px; }
    .cehbox.noviceh img { width: 50%; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); }

.postignuce { width: 100%; margin-bottom: 20px; }
    .postignuce .info { overflow: hidden; }
        .postignuce .sudionika { float: left; }
        .postignuce .datum { float: right; }

    .postignuce .sudionici { border-top: 2px solid #666; display: none; }

    .postignuce .content { padding: 10px; }

.sudionik { overflow: hidden; }
    .sudionik a { float: left; }
        .sudionik a span { font-weight: bold; }
    .sudionik a.slika { margin-right: 5px; height: 14px; width: 14px;
            border: 1px solid #666; border-radius: 3px; overflow: hidden; box-sizing: border-box; }
        .sudionik a.slika img { width: 100%; height: auto; }

.clan { overflow: hidden; font-size: 22px; padding-bottom: 20px; }
.clan:last-child { padding-bottom: 0; }
    .clan a { float: left; }
        .clan a span { font-weight: bold; }
    .clan a.slika { margin-right: 10px; height: 22px; width: 22px;
        border: 1px solid #666; border-radius: 3px; overflow: hidden; box-sizing: border-box; }
        .clan a.slika img { width: 100%; height: auto; }
    .clan .status, .clan .prom { width: 30px; height: 22px; float: right; display: block;
        background-size: contain; background-repeat: no-repeat; background-position: center; }
    .clan .prom { margin-right: 10px; }
    .clan .status.voda { background-image: url("#{resource['images/voda.png']}"); }
    .clan .status.koord { background-image: url("#{resource['images/sauron.png']}"); }
    .clan .prom.prom_up { background-image: url("#{resource['images/up.png']}"); }
    .clan .prom.prom_down { background-image: url("#{resource['images/down.png']}"); }


#cover { width: 100%; position: relative; overflow: hidden; }
    #cover > img { position: absolute; left: 0; top: 0; z-index: -1; width: 100%; }
    #cover .content { padding: 30px; display: flex; flex-direction: row; }
    #cover.korisnik .content { padding: 0; }
        #cover .slika, #cover .info, #cover .prijava { margin-right: 10px; margin-top: auto; }
        #cover .slika { width: 100px; height: 100px; overflow: hidden; border: 2px solid #666; border-radius: 5px; background: #fff; flex-shrink: 0; }
            #cover .slika img { width: 100%; height: auto; }
        #cover .info { overflow: hidden; box-sizing: border-box; }
            #cover .info p { padding-bottom: 5px; }
            #cover .info h2 { padding-bottom: 0; font-weight: bold; color: #000; }
            #cover.saslikom .info h2, #cover.saslikom .info p { color: #fff; text-shadow: 0 0 5px #000; }
        #cover .prijava { padding: 5px 20px; border: 1px solid #666;
            color: #333; background: #fff; border-radius: 3px; flex-shrink: 0; }
        #cover .prijava:active { box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset; }

.clanovi, .polja, .pad { padding: 10px; }
.cehigra h2 { float: left; padding-right: 20px; font-weight: bold; color: #000; }
.cehigra h3 { font-family: "Roboto", sans-serif; padding-top: 4px; }

.mar { margin-bottom: 20px; }

.linija { padding-bottom: 10px; overflow: hidden; }
    .linija .left { float: left; }
    .linija .right { float: right; }

.tekst { line-height: 1.2; }

ul.vjestine li, ul.klase li { padding: 5px; overflow: hidden; line-height: 1.1; }
ul.vjestine li:last-child, ul.klase li:last-child { padding-bottom: 0; }

.profil_slika { text-align: center; }
    .profil_slika .slika { width: 150px; height: 150px; margin: 0 auto 20px; overflow: hidden; border: 2px solid #666; border-radius: 75px; }
        .profil_slika .slika img { width: 100%; height: auto; }
    .profil_slika a { padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px; }
    .profil_slika p { padding-top: 20px; }
    .profil_slika textarea { width: 100%; min-height: 200px; }

    .profil_slika a.spremi { display: block; width: 100px; margin: 0 auto; margin-top: 10px; }
    .profil_slika p.spremi { padding-top: 5px; padding-bottom: 0; }

    .profil_slika .banner { margin: 0 auto 20px; overflow: hidden; border: 2px solid #666; border-radius: 5px; }
        .profil_slika .banner img { width: 100%; height: auto; display: block; }

.dropdown { }
    .dropdown .header { position: relative; padding: 5px; cursor: pointer; }
        .dropdown .header::after { content: '\21DF'; position: absolute; height: 34px; display: block; line-height: 34px;
            right: 0; top: 0; width: 34px; text-align: center; font-size: 20px; cursor: pointer; transition: transform 0.5s ease; }
        .dropdown.open .header::after { transform: rotate(180deg); }
        .dropdown .header > * { padding: 0; }
    .dropdown .body { display: none; border-top: 2px solid #666; font-size: 16px; }
        .dropdown .body .razina { line-height: 32px; }
        .dropdown .body .vjestina_dodaj, .dropdown .body .klasa_dodaj { width: 32px; height: 32px; overflow: hidden;
            background: url("#{resource['images/new.png']}") no-repeat center; background-size: contain; cursor: pointer; }
        .dropdown .body .vjestina_makni, .dropdown .body .klasa_makni { width: 16px; height: 16px; margin-right: 3px; overflow: hidden;
            background: url("#{resource['images/remove.png']}") no-repeat center; background-size: contain; cursor: pointer; }
            .dropdown .body .vjestina_dodaj img, .dropdown .body .vjestina_makni img,
            .dropdown .body .klasa_dodaj img, .dropdown .body .klasa_makni img{ width: 100%; height: auto; }
        .dropdown .body .lik_obrisi, .dropdown .body .igra_obrisi { width: 30%; display: block; padding: 5px 20px; margin: 0 auto; margin-top: 20px; cursor: pointer;
            border-radius: 5px; background: #a00; color: #fff; font-weight: bold; text-transform: uppercase; text-align: center; }

.likovi .lik_dodaj, .igra_dodaj, .cilj_dodaj, .igre_spremi, .ciljevi_spremi{ width: 40%; display: block; padding: 5px 20px; margin: 0 auto; margin-top: 10px; border: 1px solid #666;
    border-radius: 5px; background: #fff; font-weight: bold; text-align: center; font-size: 18px; color: #333; }
.likovi .lik_dodaj:hover, .igra_dodaj:hover, .igre_spremi:hover, .cilj_dodaj:hover { color: #666; }

.igra_dodaj, .igre_spremi, .cilj_dodaj, .ciljevi_spremi { margin: 0 0 20px; display: inline-block; width: auto; margin-right: 10px; }
.igre_spremi_form { display: inline-block; }

.overlayed { display: none; opacity: 0; width: 200px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 6; }

#overlay_vjestina input, #overlay_klasa input { width: 100%; }
#overlay_vjestina a, #overlay_klasa a, #overlay_podcilj a { width: 100%; padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px;
    display: block; box-sizing: border-box; text-align: center; }

#overlay_likbris a, #overlay_igrabris a { width: 100%; padding: 5px 20px; border: 2px solid #f00; color: #fff; background: #a00; font-weight: bold; text-tansform: uppercase;
    border-radius: 3px; display: block; box-sizing: border-box; text-align: center; }

#overlay_lik, #overlay_igra, #overlay_brisanje { width: 500px; }
#overlay_lik a, #overlay_igra a { width: 70%; padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px;
    display: block; box-sizing: border-box; text-align: center; margin: 0 auto; }
#overlay_igra input { width: 100%; }

.postignuce_ceh { cursor: grab; }
    .postignuce_ceh h2 { padding-bottom: 10px; }
    .postignuce_ceh input { cursor: pointer; }

.razgovor { height: 55px; display: flex; flex-direction: row; }
.razgovor.neprocitano { background: #dee4ff; border-width: 3px; }
    .razgovor .slika { width: 51px; height: 51px; margin-right: 15px; border-radius: 28px; border: 2px solid #666; overflow: hidden;
            float: left; }
        .razgovor .slika img { width: 100%; height: auto; }
    .razgovor .info { height: 55px; float: left; flex-grow: 1; }
        .razgovor .info h2 { padding-bottom: 10px; }
        .razgovor.neprocitano .info h2 { font-weight: bold; }
        .razgovor .info .linija { padding-bottom: 3px; color: #555; }

.poruka { width: 70%; margin-right: auto; min-height: 50px; }
.poruka.moja { margin-right: 0; margin-left: auto; }
    .poruka .slika { width: 50px; height: 50px; border-radius: 27px; border: 2px solid #666; overflow: hidden;
        float: left; margin-right: 10px; }
        .poruka .slika img { width: 100%; height: auto; }
    .poruka.moja .slika { float: right; margin-right: 0; margin-left: 10px; }
    .poruka .content { line-height: 1.2; }
    .poruka .info { display: block; padding-top: 10px; color: #555; }
    .poruka.moja .info { text-align: right; }

.dogadaj_ceh { }
    .dogadaj_ceh .prijava { padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px; }
    .dogadaj_ceh .linija { padding-bottom: 0; }
        .dogadaj_ceh .linija .left { line-height: 26px; }
    .dogadaj_ceh .sudionici { border-top: 2px solid #666; display: none; }

#kalendar .calendar { width: 100%; }

#overlay_obavijest, #overlay_poruka { width: 400px; }
    #overlay_obavijest textarea, #overlay_poruka textarea { width: 100%; min-height: 200px; }
    #overlay_obavijest input, #overlay_poruka input { display: block; margin: 0 auto; }

.naslov_obavijesti { display: inline-block; }
.nova_obavijest, .nova_poruka, .novi_dogadaj {padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px; float: right; }

.prijava { }
    .prijava .header .sudionik { line-height: 24px; font-size: 20px; }
        .prijava .header .sudionik .slika { width: 20px; height: 20px; border: 2px solid #665; border-radius: 12px; margin-right: 10px;  float: left; }
            .prijava .header .sudionik .slika img { width: 100%; height: auto; }
        .prijava p { float: left; }
            .prijava span { font-weight: bold; }
    .prijava body { overflow: hidden; }
        .prijava .linija { width: 100%; padding-bottom: 0; }
            .prijava .odgovor { padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px; margin-right: 10px; }

.cilj, .podcilj { margin-bottom: 10px; }
.cilj h3, .podcilj h4 { padding-bottom: 0; }
.podcilj { margin-left: 20px; }
.podcilj p { padding-top: 10px; }

.cilj_uredivanje { box-sizing: border-box; }
    .cilj_uredivanje h2 { padding-bottom: 10px; }
    .cilj_uredivanje .linija { margin-bottom: 5px; padding-bottom: 0; }
        .cilj_uredivanje .sudionika { line-height: 26px; }
        .cilj_uredivanje .sudionik_dodaj,
        .cilj_uredivanje .podcilj_zavrsi,
        .cilj_uredivanje .podcilj_dodaj,
        .cilj_uredivanje .cilj_izvrsen { padding: 5px 20px; border: 1px solid #666; color: #333; background: #fff; border-radius: 3px; }

    .cilj_uredivanje .sudionik { line-height: 24px; font-size: 20px; }
        .cilj_uredivanje .sudionik .slika { width: 24px; height: 24px; border: 2px solid #665; border-radius: 12px; margin-right: 10px;  float: left; }
            .cilj_uredivanje .sudionik .slika img { width: 100%; height: auto; }

        .cilj_uredivanje .sudionik_makni,
        .cilj_uredivanje .podcilj_makni { float: right; width: 26px; height: 26px; display: block;
            background: url("#{resource['images/remove.png']}") no-repeat center; background-size: contain; cursor: pointer; }

     .cilj_uredivanje .sudionici, .cilj_uredivanje .podcilj_dodaj { margin-bottom: 10px; }
    .cilj_uredivanje .podcilj_dodaj { display: inline-block; }

     .cilj_uredivanje .podcilj_uredivanje { overflow: hidden; }
     .cilj_uredivanje .podcilj_uredivanje:last-child { margin-bottom: 0; }
        .cilj_uredivanje .podcilj_uredivanje h3 { line-height: 26px; padding-bottom: 0; float: left; }
        .cilj_uredivanje .podcilj_makni { float: right; }
        .cilj_uredivanje .podcilj_zavrsi { float: right; margin-right: 10px; }

 #overlay_cilj, #overlay_sudionik, #overlay_podcilj, #overlay_dogadaj { width: 400px; }
    #overlay_cilj input, #overlay_sudionik select, #overlay_sudionik input, #overlay_podcilj input,
    #overlay_dogadaj input { width: 100%; }
    #overlay_cilj input[type="submit"], #overlay_sudionik input[type="submit"],
    #overlay_dogadaj input[type="submit"] { cursor: pointer; }
    #overlay_dogadaj label { display: block; margin-bottom: 5px; }

#postignuca_uredivanje .linija, #postignuca_uredivanje h2 { padding: 2px 0; }
#postignuca_uredivanje input { display: block; margin-top: 8px; }

.ceh_obrisi, input[type="submit"].ceh_obrisi { width: 100%; display: block; padding: 10px 0; margin: 0 auto; cursor: pointer; box-sizing: border-box; border: 2px solid #f00;
    border-radius: 5px; background: #a00; color: #fff !important; font-weight: bold; text-transform: uppercase; text-align: center; }
.ceh_obrisi:hover, input[type="submit"].ceh_obrisi:hover { color: #ff8181 !important; background: #f00; border: 2px solid #a00; text-shadow: 0 0 1px #000; }

h3.glasovanje { text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }

.pretraga_item { display: flex; flex-direction: row; }
    .pretraga_item .slika { width: 50px; height: 50px; border: 2px solid #666; overflow: hidden;
            border-radius: 25px; box-sizing: border-box; margin-right: 20px; }
        .pretraga_item .slika img { width: 100%; height: auto; }
    .pretraga_item .linija { flex-grow: 1; padding-bottom: 0; line-height: 50px; }
        .pretraga_item .linija h3, .pretraga_item .linija h2 { padding-bottom: 0; }