<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup a:data-id="#{igreIgra.id}" layout="block" styleClass="box mar igra dropdown">
		<h:panelGroup layout="block" styleClass="header">
			<h3>#{igreIgra.imeIgre}</h3>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="body pad">
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputText styleClass="left" value="Klase:" />
				<h:outputLink styleClass="right klasa_dodaj"></h:outputLink>
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="linija">
				<ul class="klase">
					<c:forEach items="#{igreIgra.klase}" var="igreIgraKlasa">
						<li data-id="#{igreIgraKlasa.id}">
							<h:outputText value="#{igreIgraKlasa.imeKlase}" styleClass="left" />
							<h:outputLink styleClass="klasa_makni right"></h:outputLink>
						</li>
					</c:forEach>
				</ul>
			</h:panelGroup>
			<h:outputLink styleClass="igra_obrisi">Obriši</h:outputLink>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>