<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" styleClass="cehbox box">
		<h:link outcome="ceh">
			<f:param name="id" value="#{cehoviCeh.id}" />
			<h:graphicImage library="images" name="ceh.png" />
			<h:panelGroup layout="block" styleClass="info">
				<h:link outcome="ceh">
					<p><h:outputText value="#{cehoviCeh.igra.imeIgre}" /></p>
					<h2><h:outputText value="#{cehoviCeh.naziv}" /></h2>
					<f:param name="id" value="#{cehoviCeh.id}" />
				</h:link>
			</h:panelGroup>
		</h:link>
	</h:panelGroup>
</ui:composition>