<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="col">
		<h1>Ciljevi</h1>

		<h:outputLink styleClass="cilj_dodaj">Dodaj cilj</h:outputLink>

		<h:form styleClass="igre_spremi_form">
			<h:inputHidden id="obrisanaSudjelovanja" a:class="obrisanaSudjelovanja" />
			<h:inputHidden id="obrisaniPodciljevi" a:class="obrisaniPodciljevi" />
			<h:inputHidden id="izmjeneCiljeva" a:class="izmjeneCiljeva" />

			<h:commandLink styleClass="ciljevi_spremi" action="#{cehciljevi.doSpremiCiljeve}" value="Spremi" />
		</h:form>

		<c:forEach items="#{cehciljevi.ceh.ciljevi}" var="cehUrCilj">
			<ui:include src="cilj_uredivanje.xhtml" />
		</c:forEach>
	</h:panelGroup>
</ui:composition>