<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="col col_2_3">
		<h1 class="naslov_obavijesti">Obavijesti</h1>
		<h:outputLink styleClass="nova_obavijest">Nova obavijest</h:outputLink>

		<c:forEach items="#{cehpregled.obavijesti}" var="cehPregOba">
			<ui:include src="obavijest_ceh.xhtml" />
		</c:forEach>
	</h:panelGroup>
	<h:panelGroup layout="block" styleClass="col col_1_3">
		<h1 class="naslov_obavijesti">Događaji</h1>
		<h:outputLink styleClass="novi_dogadaj">Novi događaj</h:outputLink>

		<h:panelGroup layout="block" id="kalendar" styleClass="mar"></h:panelGroup>

		<c:forEach items="#{cehpregled.ceh.dogadaji}" var="cehPregDog">
			<ui:include src="dogadaj_ceh.xhtml" />
		</c:forEach>
	</h:panelGroup>
</ui:composition>