<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="col col_1_3">
		<h1>Članovi</h1>
		<h:panelGroup layout="block" styleClass="clanovi box">

			<c:forEach items="#{cehinfo.ceh.clanstva}" var="cehClanstvo">
				<ui:include src="clan.xhtml" />
			</c:forEach>
		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup layout="block" styleClass="col col_1_3">
		<h1>Ciljevi</h1>

		<c:forEach items="#{cehinfo.ceh.ciljevi}" var="cehCilj">
			<ui:include src="cilj.xhtml" />
		</c:forEach>
	</h:panelGroup>

	<h:panelGroup layout="block" styleClass="col col_1_3">
		<h1>Postignuća</h1>

		<c:forEach items="#{cehinfo.ceh.postignuca}" var="cehPostig">
			<ui:include src="postignuce_ceh.xhtml" />
		</c:forEach>
	</h:panelGroup>
</ui:composition>