<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" id="content">
		<h:panelGroup layout="block" id="cover" styleClass="saslikom">
			<h:graphicImage library="images" name="cover.jpg" />

			<h:panelGroup layout="block" styleClass="content">
				<h:panelGroup layout="block" styleClass="slika">
					<h:graphicImage library="images" name="ceh.png" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="info">
					<p><h:outputText value="#{ceh.ceh.igra.imeIgre}" /></p>
					<h2><h:outputText value="#{ceh.ceh.naziv}" /></h2>
				</h:panelGroup>
				<h:link styleClass="prijava" outcome="prijava" value="Prijava">
					<f:param name="id" value="#{ceh.id}" />
				</h:link>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="col col_1_2">
			<h1>Postignuća</h1>
			<c:forEach items="#{ceh.ceh.postignuca}" var="cehPostig">
				<ui:include src="postignuce_ceh.xhtml" />
			</c:forEach>
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="col col_1_2">
			<h1>Članovi</h1>
			<h:panelGroup layout="block" styleClass="clanovi box">
				<c:forEach items="#{ceh.ceh.clanstva}" var="cehVaClanstvo">
					<ui:include src="clan_vanjska.xhtml" />
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>