<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<h:panelGroup layout="block" styleClass="box mar prijava dropdown">
		<h:panelGroup layout="block" styleClass="header">
			<h:panelGroup layout="block" styleClass="sudionik">
				<h:panelGroup layout="block" styleClass="slika"><h:graphicImage library="images" name="user.png" /></h:panelGroup>
				<p><span>#{cehPrijava.korisnik.nadimak}</span> #{cehPrijava.lik.imeLik}</p>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="body pad">
			#{cehPrijava.sadrzaj}

			<h:panelGroup layout="block" styleClass="linija">

				<h:commandLink action="#{cehprijave.doPrihvati}" styleClass="left odgovor" value="Odobri">
					<f:param name="prijavaAkcijaCehId" value="#{cehPrijava.id}" />
					<f:param name="prijavaAkcijaLikId" value="#{cehPrijava.likId}" />
				</h:commandLink>
				<h:commandLink action="#{cehprijave.doOdbij}" styleClass="left odgovor" value="Odbij">
					<f:param name="prijavaAkcijaCehId" value="#{cehPrijava.id}" />
					<f:param name="prijavaAkcijaLikId" value="#{cehPrijava.likId}" />
				</h:commandLink>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>