<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="col col_1_2">
		<h1>Uređivanje ceha</h1>
		<h:panelGroup layout="block" styleClass="box pad mar profil_slika">
			<h:form id="profilForma">
				<h:panelGroup layout="block" styleClass="slika">
					<h:graphicImage library="images" name="ceh.png" />
				</h:panelGroup>
				<h:link styleClass="prijava" outcome="profil">Odaberi...</h:link>
				<p>Slika JPG ili PNG formata do 0.5MB veličine</p>

				<h:panelGroup layout="block" styleClass="banner">
					<h:graphicImage library="images" name="cover.png" />
				</h:panelGroup>
				<h:link styleClass="prijava" outcome="profil">Odaberi...</h:link>
				<p>Slika JPG ili PNG formata do 1MB veličine</p>

				<h:inputTextarea value="#{cehuredivanje.opis}" />

				<h:inputHidden id="postignuca" a:class="postignuca" />

				<h:commandLink action="doPohrani" value="Spremi" styleClass="spremi" />

				<p class="spremi">(Sprema sve na ovoj stranici)</p>
			</h:form>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="box pad mar brisanje_ceha">
			<h:outputLink styleClass="ceh_obrisi">Obriši ceh</h:outputLink>
		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup layout="block" styleClass="col col_1_2">
		<h1>Postignuća</h1>
		<h:panelGroup layout="block" id="postignuca_uredivanje">
			<c:forEach items="#{cehuredivanje.ceh.postignuca}" var="cehUrPost">
				<ui:include src="postignuce_ceh_uredivanje.xhtml" />
			</c:forEach>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>