<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
		xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" id="content">
		<h:panelGroup layout="block" id="cover" styleClass="saslikom">
			<h:graphicImage library="images" name="cover.jpg" />

			<h:panelGroup layout="block" styleClass="content">
				<h:panelGroup layout="block" styleClass="slika">
					<h:graphicImage library="images" name="ceh.png" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="info">
					<p><h:outputText value="#{ceh.ceh.igra.imeIgre}" /></p>
					<h2><h:outputText value="#{ceh.ceh.naziv}" /></h2>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" id="headmenu">
			<h:link outcome="ceh" value="Pregled">
				<f:param name="id" value="#{ceh.id}" />
			</h:link>
			<h:link outcome="ceh" value="Informacije">
				<f:param name="view" value="info" />
				<f:param name="id" value="#{ceh.id}" />
			</h:link>
			<h:link outcome="ceh" value="Prijave">
				<f:param name="view" value="prij" />
				<f:param name="id" value="#{ceh.id}" />
			</h:link>
			<h:link outcome="ceh" value="Uređivanje ciljeva">
				<f:param name="view" value="ciljevi" />
				<f:param name="id" value="#{ceh.id}" />
			</h:link>
			<h:link outcome="ceh" value="Uređivanje ceha">
				<f:param name="view" value="ured" />
				<f:param name="id" value="#{ceh.id}" />
			</h:link>
		</h:panelGroup>


		<h:panelGroup rendered="#{param['view'] == null}">
			<ui:include src="ceh_u_pregled.xhtml"  />
		</h:panelGroup>

		<h:panelGroup rendered="#{param['view'] == 'info'}">
			<ui:include src="ceh_u_info.xhtml"  />
		</h:panelGroup>

		<h:panelGroup rendered="#{param['view'] == 'ured'}">
			<ui:include src="ceh_u_ured.xhtml"  />
		</h:panelGroup>

		<h:panelGroup rendered="#{param['view'] == 'prij'}">
			<ui:include src="ceh_u_prij.xhtml"  />
		</h:panelGroup>

		<h:panelGroup rendered="#{param['view'] == 'ciljevi'}">
			<ui:include src="ceh_u_ciljevi.xhtml"  />
		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup rendered="#{param['view'] == null}" layout="block" id="overlay_obavijest" styleClass="overlayed box pad">
		<h:form>
			<h:panelGroup layout="block" styleClass="linija">
				<h:inputTextarea id="obavijestTekst" />
			</h:panelGroup>
			<h:inputHidden id="obavijestCehId" value="#{cehpregled.id}" />
			<h:commandButton action="#{cehpregled.dodajObavijest}" value="Dodaj obavijest" />
		</h:form>
	</h:panelGroup>

	<h:panelGroup rendered="#{param['view'] == 'ured'}" layout="block" id="overlay_brisanje" styleClass="overlayed box pad">
		<h:form>
			<h:commandButton action="#{cehuredivanje.doCehObrisi}" styleClass="ceh_obrisi" value="Potvrda brisanja ceha" />
			<h:inputHidden id="cehBrisId" value="#{cehuredivanje.id}" />
		</h:form>
	</h:panelGroup>

	<h:panelGroup rendered="#{param['view'] == null}" layout="block" id="overlay_dogadaj" styleClass="overlayed box pad">
		<h:form>
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputLabel for="dogadajNaslov" value="Naslov događaja" />
				<h:inputText id="dogadajNaslov" />
				<p class="spacer"></p>
				<h:outputLabel for="dogadajDatum" value="Datum događaja (dd.mm.gggg.)" />
				<h:inputText id="dogadajDatum" a:type="date" a:required="true" a:pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}." />
				<span class="validity"></span>
			</h:panelGroup>
			<h:commandButton action="#{cehpregled.dodajDogadaj}" value="Dodaj događaj" />
		</h:form>
	</h:panelGroup>

	<h:panelGroup rendered="#{param['view'] == 'ciljevi'}" layout="block" id="overlay_cilj" styleClass="overlayed box pad">
		<h:form>
			<h:panelGroup layout="block" styleClass="linija">
				<h:inputText id="novi_cilj_naziv" />
			</h:panelGroup>
			<h:commandButton action="#{cehciljevi.dodajCilj}" value="Dodaj cilj" />
		</h:form>
	</h:panelGroup>

	<h:panelGroup rendered="#{param['view'] == 'ciljevi'}" layout="block" id="overlay_podcilj" styleClass="overlayed box pad">
		<h:panelGroup layout="block" styleClass="linija">
			<h:inputText />
		</h:panelGroup>
		<h:outputLink>Dodaj podcilj</h:outputLink>
	</h:panelGroup>

	<h:panelGroup rendered="#{param['view'] == 'ciljevi'}" layout="block" id="overlay_sudionik" styleClass="overlayed box pad">
		<h:form>
			<h:panelGroup layout="block" styleClass="linija">
				<h:selectOneMenu id="lik">
					<c:forEach items="#{cehciljevi.ceh.clanstva}" var="cehClans">
						<f:selectItem itemValue="#{cehClans.likId}" itemLabel="Član #2" a:data-korisnik="Ime korisnika" a:data-lik="Ime lika" />
					</c:forEach>
				</h:selectOneMenu>
			</h:panelGroup>
			<h:commandButton action="dodajSudionik" value="Dodaj sudionika" />
		</h:form>
	</h:panelGroup>
</ui:composition>