<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="col">
		<h1>Prijave</h1>

		<c:forEach items="#{cehprijaveb.prijave}" var="cehPrijava">
			<ui:include src="ceh_prijava.xhtml" />
		</c:forEach>
	</h:panelGroup>
</ui:composition>