<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<h:panelGroup a:data-id="#{cehCilj.id}" layout="block" styleClass="cilj imapodcilj box pad mar">
		<h3><h:outputText value="#{cehCilj.ime}" /></h3>
	</h:panelGroup>

	<c:forEach items="#{cehCilj.podciljevi}" var="cehCiljPod">
		<h:panelGroup a:data-id="#{cehCiljPod.id}"  layout="block" styleClass="podcilj box pad mar">
			<h4><h:outputText value="#{cehCiljPod.ime}" /></h4>
			<p><h:outputText rendered="#{cehCiljPod.ispunjen}">Ispunjen!</h:outputText></p>
		</h:panelGroup>
	</c:forEach>
</ui:composition>