<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
		xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup a:data-id="#{cehUrCilj.id}" layout="block" styleClass="cilj_uredivanje postignuce box pad mar">
		<h:panelGroup layout="block" styleClass="linija">
			<h2 class="left"><h:outputText value="#{cehUrCilj.ime}" /></h2>
			<h:form>
				<h:commandLink action="doCiljIspunjen" styleClass="right cilj_izvrsen" value="Cilj ispunjen">
					<f:param name="ispunjenCiljId" value="#{cehUrCilj.id}" />
				</h:commandLink>
			</h:form>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="info">
			<p class="linija">
				<h:outputLink styleClass="left sudionika">#{cehUrCilj.brLikova} sudionik/a</h:outputLink>
				<h:outputLink styleClass="right sudionik_dodaj">Dodaj sudionika</h:outputLink>
			</p>
		</h:panelGroup>

		<h:panelGroup  layout="block" styleClass="sudionici box pad">
			<c:forEach items="#{cehUrCilj.likovi}" var="cehUrCiljSud">

				<p data-id="#{cehUrCiljSud.id}" class="sudionik">
					<h:outputLink styleClass="slika"><h:graphicImage library="images" name="user.png" /></h:outputLink>
					<h:outputLink><span>#{cehUrCiljSud.lik.korisnik.nadimak}</span> #{cehUrCiljSud.lik.imeLik}</h:outputLink>
					<h:outputLink styleClass="sudionik_makni"></h:outputLink>
				</p>

			</c:forEach>
		</h:panelGroup>

		<h:outputLink styleClass="podcilj_dodaj">Dodaj podcilj</h:outputLink>

		<h:panelGroup layout="block" styleClass="podciljevi">
			<c:forEach items="#{cehUrCilj.podciljevi}" var="cehUrCiljPod">
				<h:panelGroup a:data-id="#{cehUrCiljPod.id}" layout="block" styleClass="podcilj_uredivanje box pad mar">
					<h3><h:outputText value="#{cehUrCiljPod.ime}" /></h3>

					<h:outputLink styleClass="podcilj_makni"></h:outputLink>
					<h:outputLink styleClass="podcilj_zavrsi">Podcilj ispunjen</h:outputLink>
				</h:panelGroup>
			</c:forEach>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>