<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup styleClass="clan" layout="block">
		<h:outputLink styleClass="slika"><h:graphicImage library="images" name="user.png" /></h:outputLink>
		<h:outputLink><span>#{cehClanstvo.korisnik.nadimak}</span> #{cehClanstvo.lik.imeLik}</h:outputLink>
		<h:panelGroup rendered="#{cehClanstvo.ovlast == 0}" styleClass="status voda"></h:panelGroup>
		<h:panelGroup rendered="#{cehClanstvo.ovlast == 1}" styleClass="status koord"></h:panelGroup>

		<h:form rendered="#{cehinfo.ovlastTrenutnog lt 2}">
			<h:commandLink rendered="#{cehClanstvo.ovlast == 2}" action="#{cehinfo.doClanUp}" styleClass="prom prom_up" />
			<h:commandLink rendered="#{cehClanstvo.ovlast == 1}" action="#{cehinfo.doClanDown}" styleClass="prom prom_down" />
			<h:inputHidden id="clanOvlastId" value="#{cehClanstvo.id}" />
		</h:form>
	</h:panelGroup>
</ui:composition>