<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup styleClass="clan" layout="block">
		<h:outputLink styleClass="slika"><h:graphicImage library="images" name="user.png" /></h:outputLink>
		<h:outputLink><span>#{cehVaClanstvo.korisnik.nadimak}</span> #{cehVaClanstvo.lik.imeLik}</h:outputLink>

		<h:panelGroup rendered="#{cehVaClanstvo.ovlast == 0}" styleClass="status voda"></h:panelGroup>
		<h:panelGroup rendered="#{cehVaClanstvo.ovlast == 1}" styleClass="status koord"></h:panelGroup>
	</h:panelGroup>
</ui:composition>