<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" styleClass="dogadaj box">
		<h2><h:outputText value="#{dogadaj.ime}" /></h2>
		<h:panelGroup layout="block" styleClass="loc">
			<h:outputText styleClass="ceh" value="#{dogadaj.ceh.naziv}" />
			<h:outputText styleClass="igra" value="#{dogadaj.ceh.igra.imeIgre}" />
		</h:panelGroup>
		<h:outputText styleClass="datum" value="#{dogadaj.vrijeme}" />
	</h:panelGroup>
</ui:composition>