<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
		xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup a:data-id="#{cehPregDog.id}" layout="block" styleClass="dogadaj_ceh box mar">
		<h:panelGroup layout="block" styleClass="content pad">
			<h2><h:outputText value="#{cehPregDog.ime}" /></h2>
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputText styleClass="left" value="#{cehPregDog.vrijeme}" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputLink styleClass="left sudionika">#{cehPregDog.brojSudionika} sudionik/a</h:outputLink>
				<h:form rendered="#{cehPregDog.korisnikPrijavljen == false}">
					<h:commandLink action="#{cehpregled.doDogadajPrijava}" styleClass="right prijava">Prijava</h:commandLink>
					<input type="hidden" name="dogadajPrijavaId" value="#{cehPregDog.id}" />
				</h:form>
				<h:form rendered="#{cehPregDog.korisnikPrijavljen == true}">
					<h:commandLink action="#{cehpregled.doDogadajOdjava}" styleClass="right prijava">Odjava</h:commandLink>
					<input type="hidden" name="dogadajOdjavaId" value="#{cehPregDog.id}" />
				</h:form>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="sudionici pad">
			<h:panelGroup layout="block" styleClass="content">
				<c:forEach items="#{cehPregDog.sudionici}" var="cehPostigLik">
					<ui:include src="sudionik.xhtml" />
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>