<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" id="overlay_blur">
		<h:outputText id="overlay_blur_close" value="X" />
	</h:panelGroup>

</ui:composition>