<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:f="http://java.sun.com/jsf/core" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<h:panelGroup layout="block" id="sidebar">
		<h:panelGroup layout="block" id="user">
			<h:link outcome="korisnik" id="userImage">
				<h:graphicImage library="images" name="user.png" />
				<f:param name="id" value="#{currentUser.id}" />
			</h:link>
			<h:link value="#{currentUser.korisnik.nadimak}" outcome="korisnik">
				<f:param name="id" value="#{currentUser.id}" />
			</h:link>
		</h:panelGroup>
		<hr />
		<h:link value="Pregled" outcome="index" />
		<h:link value="Moji cehovi" outcome="cehovi" />

		<ui:repeat value="#{currentUser.cehovi}" var="ceh">
			<h:link value="#{ceh.naziv}" outcome="ceh" styleClass="level_2">
				<f:param name="id" value="#{ceh.id}" />
			</h:link>
		</ui:repeat>

		<h:panelGroup rendered="#{currentUser.korisnik.admin}">
			<hr />
			<h:link value="Admin - Igre" outcome="igre" />
		</h:panelGroup>
		<hr />
		<h:form><h:commandLink value="Odjava" action="#{currentUser.doLogout}" /></h:form>
	</h:panelGroup>

	<h:panelGroup layout="block" id="topbar">
		<h:form id="pretraga">
			<h:inputText name="tekst" value="#{pretragab.tekst}" />
			<h:commandButton action="/pretraga" value="Pretraga" />
		</h:form>

		<h:link outcome="razgovori">
			<h:outputText value="Razgovori" />
			<h:outputText value="(#{currentUser.neprRazgovori})" styleClass="brPoruka" />
		</h:link>
	</h:panelGroup>
</ui:composition>