<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="box pad mar" a:data-id="12">
		<h2>#{korLik.imeLik}</h2>

		<h:panelGroup layout="block" styleClass="linija">
			<h:outputText styleClass="left" value="#{korLik.ceh.naziv}" />
			<h:outputText styleClass="right" value="#{korLik.igra.imeIgre}" />
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="linija">
			<h:outputText styleClass="left" value="#{korLik.klasa.imeKlase}" />
			<h:outputText styleClass="right" value="#{korLik.razina}" />
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="linija">
			<ul class="vjestine">
				<c:forEach items="#{korLik.vjestine}" var="vjestina">
					<li><h:outputText value="#{vjestina}" /></li>
				</c:forEach>
			</ul>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>