<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup a:data-id="#{profLik.id}" layout="block" styleClass="box mar lik dropdown">
		<h:panelGroup layout="block" styleClass="header">
			<h3>#{profLik.imeLik}</h3>
		</h:panelGroup>

		<h:panelGroup a:data-id="#{profLik.id}" layout="block" styleClass="body pad">
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputText styleClass="left igra" value="#{profLik.igra.imeIgre}" />
				<h:outputText styleClass="right klasa" value="#{profLik.klasa.imeKlase}" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="linija razina">
				<h:outputText styleClass="left" value="Razina" />
				<h:inputText styleClass="right" a:type="number" value="#{profLik.razina}" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputText styleClass="left" value="Vještine:" />
				<h:outputLink styleClass="right vjestina_dodaj"></h:outputLink>
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="linija">
				<ul class="vjestine">
					<c:forEach items="#{profLik.vjestine}" var="profLikVjes">
						<li>
							<h:outputText value="#{profLikVjes}" styleClass="left" />
							<h:outputLink styleClass="vjestina_makni right"></h:outputLink>
						</li>
					</c:forEach>
				</ul>
			</h:panelGroup>
			<h:outputLink styleClass="lik_obrisi">Obriši</h:outputLink>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>