<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<h:outputStylesheet library="css" name="calendarorganizer.min.css" />
	<h:outputStylesheet library="css" name="style.css" />

	<h:outputScript library="js" name="jquery.min.js" />
	<h:outputScript library="js" name="jquery-ui.min.js" />
	<h:outputScript library="js" name="script.js"  />
	<h:outputScript library="js" name="calendarorganizer.min.js"  />
	<h:outputScript library="js" name="kalendar.js"  />

	<title><ui:insert name="title" /></title>
</h:head>
<h:body>
	<ui:include src="header.xhtml" />

	<h:panelGroup layout="block" styleClass="row msg pad">
		<h:messages />
	</h:panelGroup>

	<ui:insert name="content" />

	<ui:include src="footer.xhtml" />
</h:body>
</html>
