<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" styleClass="obavijest saslikom box">
		<h:panelGroup layout="block" styleClass="slika">
			<h:graphicImage library="images" name="ceh.png" />
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="naziv">
			<h2><h:outputText value="#{obCeh.naziv}" /></h2>
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="content">
			#{obCeh.obavijesti[0].sadrzaj}
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="info">
			<h:outputText styleClass="datum" value="#{obCeh.obavijesti[0].vrijeme}" />
			<h:outputText styleClass="autor" value="#{obCeh.obavijesti[0].korisnik.nadimak}" />
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>