<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" styleClass="obavijest box mar">
		<h:panelGroup layout="block" styleClass="content">
			#{cehPregOba.sadrzaj}
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="info">
			<h:outputText styleClass="datum" value="#{cehPregOba.vrijeme}" />
			<h:outputText styleClass="autor" value="#{cehPregOba.korisnik.nadimak}" />
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>