<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" styleClass="box pad mar poruka #{razgPoruka.mojaPoruka ? 'moja' : ''}">
		<h:panelGroup layout="block" styleClass="content">
			<h:panelGroup layout="block" styleClass="slika">
				<h:graphicImage library="images" name="user.png" />
			</h:panelGroup>
			#{razgPoruka.sadrzaj}
		</h:panelGroup>
		<h:outputText styleClass="info" value="#{razgPoruka.vrijeme}" />
	</h:panelGroup>
</ui:composition>