<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:panelGroup layout="block" styleClass="postignuce box">
		<h:panelGroup layout="block" styleClass="info">
			<h:panelGroup layout="block" styleClass="content">
				<h2><h:outputText value="#{cehPostig.ime}" /></h2>
				<p class="info">
					<h:outputLink styleClass="sudionika">#{cehPostig.brLikova} sudionik/a</h:outputLink>
					<h:outputText value="#{cehPostig.datum}" styleClass="datum" />
				</p>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="sudionici">
				<h:panelGroup layout="block" styleClass="content">

					<c:forEach items="#{cehPostig.likovi}" var="cehPostigLik">
						<ui:include src="sudionik.xhtml" />
					</c:forEach>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>