<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<h:panelGroup a:data-id="#{cehUrPost.id}" layout="block" styleClass="box pad mar postignuce_ceh">
		<h:panelGroup layout="block" styleClass="info">
			<h:panelGroup layout="block" styleClass="linija">
				<h:panelGroup layout="block" styleClass="left">
					<h2><h:outputText value="#{cehUrPost.ime}" /></h2>
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="right">
					<h:selectBooleanCheckbox styleClass="prikazi" />
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>