<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup rendered="#{korPost.postignut}" layout="block" styleClass="box pad mar">
		<h:panelGroup layout="block" styleClass="info">
			<h2><h:outputText value="#{korPost.ime}" /></h2>
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputText styleClass="left" value="#{korPost.ceh.naziv}" />
				<h:outputText styleClass="right" value="#{korLik.igra.imeIgre}" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="linija">
				<h:outputText styleClass="left" value="#{korLik.imeLik}" />
				<h:outputText styleClass="right" value="#{korPost.datum}" />
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>