<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup rendered="#{prItem.tip == 1}" layout="block" styleClass="box pad mar pretraga_item">
		<h:panelGroup layout="block" styleClass="slika">
			<h:link outcome="razgovor">
				<h:graphicImage library="images" name="user.png" />
			</h:link>
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="info linija">
			<h:link outcome="korisnik">
				<h2 class="left">#{prItem.korisnik.nadimak}</h2>
				<f:param name="id" value="#{prItem.korisnik.id}" />
			</h:link>
		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup rendered="#{prItem.tip == 0}" layout="block" styleClass="box pad mar pretraga_item">
		<h:panelGroup layout="block" styleClass="slika">
			<h:link outcome="razgovor">
				<h:graphicImage library="images" name="ceh.png" />
			</h:link>
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="info linija">
			<h:link outcome="ceh">
				<h2 class="left">#{prItem.ceh.naziv}</h2>
				<h3 class="right">#{prItem.ceh.igra.imeIgre}</h3>
				<f:param name="id" value="#{prItem.ceh.id}" />
			</h:link>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>