<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<h:panelGroup layout="block" styleClass="box pad mar razgovor #{razgJedan.pregledano ? '' : 'neprocitano'}">
		<h:panelGroup layout="block" styleClass="slika">
			<h:link outcome="razgovor">
				<h:graphicImage library="images" name="user.png" />
			</h:link>
		</h:panelGroup>
		<h:panelGroup layout="block" styleClass="info">
			<h:link outcome="razgovor">
				<f:param name="id" value="#{razgJedan.sugovornik.id}" />
				<h2>#{razgJedan.sugovornik.nadimak}</h2>
				<h:panelGroup layout="block" styleClass="linija">
					<c:set var="string2" value = "${fn:substring(razgJedan.sadrzaj, 0, 100)}" />
					<h:outputText styleClass="left" value="#{string2}" />
					<h:outputText styleClass="right" value="#{razgJedan.vrijeme}" />
				</h:panelGroup>
			</h:link>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>