<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<p class="sudionik">
		<h:outputLink styleClass="slika"><h:graphicImage library="images" name="user.png" /></h:outputLink>
		<h:outputLink><span>#{cehPostigLiknadimak}</span></h:outputLink>
	</p>
</ui:composition>