<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup layout="block" styleClass="cehbox koordbox box">
		<h:form>
			<h:commandLink action="#{glasanje.doGlasaj}">
				<h:graphicImage library="images" name="user.png" />
				<h:panelGroup layout="block" styleClass="info">
					<h2><h:outputText value="#{glKoord.nadimak}" /></h2>
				</h:panelGroup>
				<f:param name="glasId" value="#{glKoord.id}" />
			</h:commandLink>
		</h:form>
	</h:panelGroup>
</ui:composition>