<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewParam name="id" value="#{ceh.id}" />
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{ceh.init}" onPostback="true" />

			<f:viewParam name="id" value="#{cehpregled.id}" />
			<f:viewParam name="id" value="#{cehinfo.id}" />
			<f:viewParam name="id" value="#{cehprijaveb.id}" />
			<f:viewParam name="id" value="#{cehuredivanje.id}" />
			<f:viewParam name="id" value="#{cehciljevi.id}" />

			<f:viewAction action="#{cehpregled.init}" onPostback="true" />
			<f:viewAction action="#{cehinfo.init}" onPostback="true" />
			<f:viewAction action="#{cehprijaveb.init}" onPostback="true" />
			<f:viewAction action="#{cehuredivanje.init}" onPostback="true" />
			<f:viewAction action="#{cehciljevi.init}" onPostback="true" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<c:if test="#{ceh.korisnikClan}">
			<ui:include src="WEB-INF/templates/ceh_unutarnja.xhtml" />
		</c:if>
		<c:if test="#{!ceh.korisnikClan}">
			<ui:include src="WEB-INF/templates/ceh_vanjska.xhtml" />
		</c:if>

	</ui:define>
</ui:composition>