<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{cehovi.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col">
				<h1>Moji cehovi</h1>

				<c:forEach items="#{cehovi.cehovi}" var="cehoviCeh">
					<ui:include src="WEB-INF/templates/ceh.xhtml" />
				</c:forEach>

				<h:panelGroup layout="block" styleClass="cehbox box noviceh">
					<h:link outcome="noviceh">
						<h:graphicImage library="images" name="new.png" />
						<h:panelGroup layout="block" styleClass="info">
							<h2><h:outputText value="Stvori ceh" /></h2>
						</h:panelGroup>
					</h:link>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>