<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewParam name="id" value="#{glasanje.id}" />
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{glasanje.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col">
				<h1>Glasanje novog vođe</h1>
				<h3 class="glasanje">Prethodni vođa napustio je ceh. Potrebno je glasati za novog vođu:</h3>

				<c:forEach items="#{glasanje.koordinatori}" var="glKoord">
					<ui:include src="WEB-INF/templates/voda_glasanje.xhtml" />
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>