<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{igre.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col">
				<h1>Igre</h1>

				<h:outputLink styleClass="igra_dodaj">Dodaj igru</h:outputLink>

				<h:form styleClass="igre_spremi_form">
					<h:inputHidden id="obrisaneIgre" a:class="obrisaneIgre" />
					<h:inputHidden id="obrisaneKlase" a:class="obrisaneKlase" />
					<h:inputHidden id="izmjeneIgra" a:class="izmjeneIgra" />

					<h:commandLink styleClass="igre_spremi" action="doSpremiIgre" value="Spremi" />
				</h:form>


				<h:panelGroup layout="block" styleClass="igre">
					<c:forEach items="#{igre.igre}" var="igreIgra">
						<ui:include src="WEB-INF/templates/admin_igra.xhtml" />
					</c:forEach>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_klasa" styleClass="overlayed box pad">
			<h:panelGroup layout="block" styleClass="linija">
				<h:inputText />
			</h:panelGroup>
			<h:outputLink>Dodaj klasu</h:outputLink>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_igra" styleClass="overlayed box pad">
			<h:panelGroup layout="block" styleClass="linija">
				<h:inputText />
			</h:panelGroup>
			<h:outputLink>Dodaj igru</h:outputLink>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_igrabris" styleClass="overlayed box pad">
			<h:outputLink>Potvrda brisanja igre</h:outputLink>
		</h:panelGroup>
	</ui:define>
</ui:composition>