<ui:composition template="/WEB-INF/templates/master.xhtml"
				xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{index.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col col_2_3">
				<h1>Obavijesti</h1>

				<c:forEach items="#{currentUser.cehovi}" var="obCeh">
					<ui:include src="WEB-INF/templates/obavijest_pregled.xhtml" />
				</c:forEach>
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="col col_1_3">
				<h1>Nadolazeći događaji</h1>

				<c:forEach items="#{index.dogadaji}" var="dogadaj">
					<ui:include src="WEB-INF/templates/dogadaj.xhtml" />
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>