<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewParam name="id" value="#{korisnik.id}" />
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{korisnik.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col col_1_2">
				<h:panelGroup layout="block" id="cover" styleClass="korisnik mar">
					<h:panelGroup layout="block" styleClass="content">
						<h:panelGroup layout="block" styleClass="slika">
							<h:graphicImage library="images" name="user.png" />
						</h:panelGroup>
						<h:panelGroup layout="block" styleClass="info">
							<h2><h:outputText value="#{korisnik.korisnik.nadimak}" /></h2>
						</h:panelGroup>
						<h:link rendered="#{korisnik.id == currentUser.id}" styleClass="prijava" outcome="profil">Uredi profil</h:link>
						<h:link rendered="#{korisnik.id != currentUser.id}" styleClass="prijava" outcome="razgovor" value="Pošalji poruku">
							<f:param name="id" value="#{korisnik.id}" />
						</h:link>
					</h:panelGroup>
				</h:panelGroup>


				<h:panelGroup layout="block" styleClass="box pad mar tekst">
					#{korisnik.korisnik.about}
				</h:panelGroup>

				<h1>Likovi</h1>
				<c:forEach items="#{korisnik.korisnik.likovi}" var="korLik">
					<ui:include src="WEB-INF/templates/lik.xhtml" />
				</c:forEach>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="col col_1_2">
				<h1>Postignuća</h1>
				<c:forEach items="#{korisnik.korisnik.likovi}" var="korLik">
					<c:forEach items="#{korLik.postignuca}" var="korPost">
						<ui:include src="WEB-INF/templates/postignuce_korisnik.xhtml" />
					</c:forEach>
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>