<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <h:outputStylesheet library="css" name="style.css" />
    <h:outputScript library="js" name="script.js" />

    <title>Prijava - GuildBuild</title>
</h:head>
<h:body styleClass="outside">
    <h:panelGroup layout="block" styleClass="centerGroup">
        <h1>Prijava</h1>

        <h:panelGroup layout="block" styleClass="row msg">
            <h:messages />
        </h:panelGroup>

        <h:form>
            <h:panelGroup layout="block" styleClass="row">
                <h:outputLabel for="username">Korisničko ime</h:outputLabel>
                <h:inputText id="username" value="#{login.username}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="row">
                <h:outputLabel for="password">Lozinka</h:outputLabel>
                <h:inputSecret id="password" value="#{login.password}" />
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="row">
                <h:commandButton action="#{login.doLogin}" value="Prijava" />
            </h:panelGroup>
        </h:form>

        <h:link value="Registracija »" outcome="register" includeViewParams="false" />
    </h:panelGroup>
</h:body>
</html>
