<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<f:metadata>
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{cehstvaranjeb.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col col_1_2">
				<h1>Novi ceh</h1>

				<h:panelGroup layout="block" styleClass="polja box">
					<h:panelGroup layout="block" styleClass="row msg">
						<h:messages />
					</h:panelGroup>

					<h:form>
						<h:panelGroup layout="block" styleClass="row">
							<h:outputLabel for="naziv" value="Naziv" />
							<h:inputText id="naziv" value="#{cehstvaranjeb.naziv}" />
						</h:panelGroup>

						<h:panelGroup layout="block" styleClass="row">
							<h:outputLabel for="igraId" value="Igra" />
							<h:selectOneMenu id="igraId" styleClass="filter_igra">
								<c:forEach items="#{cehstvaranjeb.igreLikBezCeha}" var="cehStvIgre">
									<f:selectItem itemValue="#{cehStvIgre.id}" itemLabel="#{cehStvIgre.imeIgre}" />
								</c:forEach>
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup layout="block" styleClass="row">
							<h:outputLabel for="likId" value="Lik" />
							<h:selectOneMenu id="likId" styleClass="filter_likovi">
								<c:forEach items="#{cehstvaranjeb.likoviIgre}" var="likIgra">
									<f:selectItem a:data-igra="#{likIgra.igraId}" itemValue="#{likIgra.id}" itemLabel="#{likIgra.imeLik}" />
								</c:forEach>
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup layout="block" styleClass="row">
							<h:commandButton action="#{cehstvaranjeb.doStvoriCeh}" value="Stvori ceh" />
						</h:panelGroup>
					</h:form>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>