<ui:composition template="/WEB-INF/templates/master.xhtml"
				xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewParam name="id" value="#{cehprijavabean.id}" />
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{cehprijavabean.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col col_1_2">
				<h1>Prijava u ceh</h1>

				<h:panelGroup layout="block" styleClass="cehigra">
					<h2>#{cehprijavabean.ceh.naziv}</h2>
					<h3>#{cehprijavabean.ceh.igra.imeIgre}</h3>
				</h:panelGroup>

				<h:panelGroup layout="block" styleClass="polja box">
					<h:panelGroup layout="block" styleClass="row msg">
						<h:messages />
					</h:panelGroup>

					<h:form>
						<h:panelGroup layout="block" styleClass="row">
							<h:outputLabel for="lik" value="Lik" />
							<h:selectOneMenu id="lik">
								<c:forEach items="#{cehprijavabean.likovi}" var="likPrija">
									<f:selectItem itemValue="#{likPrija.id}" itemLabel="#{likPrija.imeLik}" />
								</c:forEach>
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup layout="block" styleClass="row">
							<h:outputLabel for="text" value="Text prijave" />
							<h:inputTextarea id="text" />
						</h:panelGroup>

						<h:panelGroup layout="block" styleClass="row">
							<h:commandButton action="#{cehprijavabean.doCehPrijava}" value="Pošalji prijavu" />
						</h:panelGroup>
					</h:form>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>