<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{profil.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col col_1_2">
				<h1>Uređivanje profila</h1>

				<h:panelGroup layout="block" styleClass="box pad mar profil_slika">
					<h:form id="profilForma">
						<h:panelGroup layout="block" styleClass="slika">
							<h:graphicImage library="images" name="user.png" />
						</h:panelGroup>
						<h:link styleClass="prijava" outcome="profil">Odaberi...</h:link>
						<p>Slika JPG ili PNG formata do 0.5MB veličine</p>

						<h:inputTextarea value="#{profil.opis}" />

						<h:inputHidden id="likovi" a:class="likovi" />
						<h:inputHidden id="obrisaniLikovi" a:class="obrisaniLikovi" />

						<h:commandLink action="doPohrani" value="Spremi" styleClass="spremi" />

						<p class="spremi">(Sprema sve na ovoj stranici)</p>
					</h:form>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="col col_1_2">
				<h1>Likovi</h1>
				<h:panelGroup layout="block" styleClass="likovi">
					<h:panelGroup layout="block" styleClass="container">

						<c:forEach items="#{profil.userLikovi}" var="profLik">
							<ui:include src="WEB-INF/templates/lik_uredivanje.xhtml" />
						</c:forEach>
					</h:panelGroup>
					<h:outputLink styleClass="lik_dodaj">Dodaj</h:outputLink>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_vjestina" styleClass="overlayed box pad">
			<h:panelGroup layout="block" styleClass="linija">
				<h:inputText />
			</h:panelGroup>
			<h:outputLink>Dodaj vještinu</h:outputLink>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_likbris" styleClass="overlayed box pad">
			<h:outputLink>Potvrda brisanja lika</h:outputLink>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_lik" styleClass="overlayed box pad">
			<h:panelGroup layout="block" styleClass="row">
				<h:outputLabel for="ime" value="Ime" />
				<h:inputText id="ime" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="row">
				<h:outputLabel for="igra" value="Igra" />
				<h:selectOneMenu id="igra">
					<f:selectItem itemValue="0" itemLabel="Igra #1" />
					<f:selectItem itemValue="0" itemLabel="Igra #2" />
					<f:selectItem itemValue="0" itemLabel="Igra #3" />
					<f:selectItem itemValue="0" itemLabel="Igra #4" />
				</h:selectOneMenu>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="row">
				<h:outputLabel for="klasa" value="Klasa" />
				<h:selectOneMenu id="klasa">
					<f:selectItem itemValue="0" itemLabel="Klasa #1" />
					<f:selectItem itemValue="0" itemLabel="Klasa #2" />
					<f:selectItem itemValue="0" itemLabel="Klasa #3" />
					<f:selectItem itemValue="0" itemLabel="Klasa #4" />
				</h:selectOneMenu>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="row">
				<h:outputLabel for="razina" value="Razina" />
				<h:inputText id="razina" a:type="number" />
			</h:panelGroup>

			<h:outputLink>Dodaj</h:outputLink>
		</h:panelGroup>
	</ui:define>
</ui:composition>