<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewParam value="#{razgovor.korisnik2Id}" name="id" />
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{razgovor.init}" onPostback="true" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col">
				<h1 class="naslov_obavijesti">#{razgovor.korisnik2.nadimak}</h1>
				<h:outputLink styleClass="nova_poruka">Nova poruka</h:outputLink>

				<c:forEach items="#{razgovor.poruke}" var="razgPoruka">
					<ui:include src="WEB-INF/templates/poruka.xhtml" />
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" id="overlay_poruka" styleClass="overlayed box pad">
			<h:form>
				<h:panelGroup layout="block" styleClass="linija">
					<h:inputTextarea id="porukaTekst" value="#{razgovor.novaPoruka}" />
				</h:panelGroup>
				<h:inputHidden value="#{razgovor.korisnik2Id}" name="id" />
				<h:commandButton action="#{razgovor.posaljiPoruku}" value="Pošalji poruku" />
			</h:form>
		</h:panelGroup>
	</ui:define>
</ui:composition>