<ui:composition template="/WEB-INF/templates/master.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:c="http://java.sun.com/jsp/jstl/core">

	<f:metadata>
		<f:viewAction action="#{currentUser.init}" />
		<f:viewAction action="#{razgovori.init}" />
	</f:metadata>

	<ui:define name="title">GuildBuild</ui:define>

	<ui:define name="content">
		<h:panelGroup layout="block" id="content">
			<h:panelGroup layout="block" styleClass="col">
				<h1>Razgovori</h1>

				<c:forEach items="#{razgovori.razgovori}" var="razgJedan">
					<ui:include src="WEB-INF/templates/razgovor.xhtml" />
				</c:forEach>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>